<%= form_with model: expense, url: expense_index_path, method: :post, local: false do |f| %>
<div class="mb-3">
<%= f.select :account_id, options_for_select(Account.pluck(:name,:id)), class: "form-select"  %>
</div>
<div class="mb-3">
<%= f.label :expense_title, class: "form-label" %>
<%= f.text_field :expense_title, class: "form-control" %>
</div>
<div class="mb-3">
<%= f.label :money, class: "form-label" %>
<%= f.text_field :money, class: "form-control"  %>
</div>
<div class="mb-3">
<%= f.label :perpose, class: "form-label" %>
<%= f.text_area :purpose, class: "form-control"  %>
</div>
<%= f.submit "作成", class: "btn btn-primary" %>
<% end %>