<div class="chartjs-size-monitor">
<% if current_user %>
    <% if current_user.admin %>
    今月の承認済合計金額：<%= Expense.where(id: company_has_approval(current_user).where(approval: 1).this_month.pluck(:expense_id)).sum(:money) %>
        <hr>
        今日承認済
        <%= column_chart rename(Expense.where(id: company_has_approval(current_user).where(approval: 1).today.pluck(:expense_id)).group(:account_id).sum(:money)) %>
        今日未確認
        <%= column_chart rename(Expense.where(id: company_has_approval(current_user).where(approval: 0).today.pluck(:expense_id)).group(:account_id).sum(:money)) %>
        今日未確認＋承認済
        <%= column_chart rename(Expense.where(id: company_has_approval(current_user).where(approval: [0,1]).today.pluck(:expense_id)).group(:account_id).sum(:money)) %>
        先日承認済
        <%= column_chart rename(Expense.where(id: company_has_approval(current_user).where(approval: 1).yesterday.pluck(:expense_id)).group(:account_id).sum(:money)) %>
        今月承認済
        <%= column_chart rename(Expense.where(id: company_has_approval(current_user).where(approval: 1).this_month.pluck(:expense_id)).group(:account_id).sum(:money)) %>
        今月承認済＋未承認  
        <%= column_chart rename(Expense.where(id: company_has_approval(current_user).where(approval: [0,1]).this_month.pluck(:expense_id)).group(:account_id).sum(:money))%>
        先月承認済
        <%= column_chart rename(Expense.where(id: company_has_approval(current_user).where(approval: 1).last_month.pluck(:expense_id)).group(:account_id).sum(:money)) %>
    <% else %>
        今月申請許可
        <%= column_chart rename(Expense.where(id: ExpenseApproval.where(expense: Expense.where(user: current_user)).where(approval: 1).this_month.pluck(:expense_id)).group(:account_id).sum(:money)) %>
        先月申請許可
        <%= column_chart rename(Expense.where(id: ExpenseApproval.where(expense: Expense.where(user: current_user)).where(approval: 1).last_month.pluck(:expense_id)).group(:account_id).sum(:money)) %>
    <% end %>
<% else %>
    <h1>ようこそ</h1>
<% end %>
</div>
