<h1>従業員登録</h1>
<%= form_with model: @user, url: '/employee/create', method: :post do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.submit '登録' %>
<% end %>