<% if @approval.errors.any? %>
    <ul>
    <% @approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<%= @approval.expense.expense_title %>
申請者：<%= @approval.user.first_name + @approval.user.last_name %> さん
<% if @approval.approval == 'unconfirmed' %>
    <%= form_with model:@approval, local: false  do |f| %>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
    <%= f.submit "却下" %>
    <% end %>
    <%= form_with url:"/expense_approval/approval/#{@approval.id}", method: :get do |f| %>
    <%= f.submit "承認"%>
    <% end %>
<% else %>
判断済み
<% end %>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
