<% if @approval.errors.any? %>
    <ul>
    <% @approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<%= @approval.expense.expense_title %>
申請者：<%= @approval.user.first_name + @approval.user.last_name %> さん
<% if @approval.approval == 'unconfirmed' %>
    <%= form_with model:@approval, local: false  do |f| %>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
    <%= f.submit "却下" %>
    <% end %>
    <%= form_with url:"/expense_approval/approval/#{@approval.id}", method: :get do |f| %>
    <%= f.submit "承認"%>
    <% end %>
<% else %>
判断済み
<% end %>