<!DOCTYPE html>
<html>
  <head>
    <title>Expenses</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow bg-dark">
      <% if current_user %>
        <%= link_to current_user.company.name, '/', class: "navbar-brand col-sm-3 com-md-2 mr-0" %>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        </ul>
      <% else %>
        <%= link_to "経費精算.com", '/', class: "navbar-brand col-sm-3 col-md-2 mr-0"%>
        <ul class="nav px-3 ">
          <li class="nav-item text-nowrap"><%= link_to "企業登録", new_company_path, class: "nav-link" %></li>
          <li class="nav-item text-nowrap"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
        </ul>
      <% end %>
    </header>
    <div class="container-fluid">
      <div class="row">
      <% if current_user %>
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="min-height: 100vh;">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
            <% if current_user %>
              <li class="nav-item"><%= link_to root_path, class: "nav-link active" do %><i class="fas fa-home"></i>top<% end %></li>
              <% if current_user.admin %>
                <li class="nav-item"><%= link_to '/employee/new', class: "nav-link active" do %><i class="fas fa-user-alt"></i>従業員登録<% end %></li>
                <li class="nav-item"><%= link_to '/employees', class: "nav-link active" do %><i class="fas fa-user-friends"></i>従業員一覧<% end %></li>
                <li class="nav-item"><%= link_to expense_approval_index_path, class: "nav-link active" do  %><i class="fas fa-file-invoice-dollar"></i>申請書一覧<% end %></li>
              <% else %>
                <li class="nav-item"><%= link_to  new_expense_path, class: "nav-link active" do %><i class="fas fa-file-invoice-dollar"></i>申請書作成<% end %></li>
                <li class="nav-item"><%= link_to  expense_index_path, class: "nav-link active" do %><i class="fas fa-file-invoice-dollar"></i>申請経費一覧<% end %></li>
              <% end %>
            <% end %>
            </ul>
          </div>
        </nav>
        <% end %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div id="errors"></div>
          <% flash.each do |message_type, message| %>
            <%= message %>
          <% end %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
