<!DOCTYPE html>
<html>
  <head>
    <title>Expenses</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
      <% if current_user %>
        <% if current_user.admin %>
          <li><%= link_to '会社情報','/'%></li>
          <li><%= link_to "従業員登録", '/employee/new' %></li>
          <li><%= link_to "申請一覧", expense_approval_index_path %></li>
        <% else %>
          <li><%= link_to '申請書作成', new_expense_path %></li>
          <li><%= link_to "申請経費一覧", expense_index_path %></li>
        <% end %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= current_user.first_name + current_user.last_name + 'さん' %></li>
      <% else %>
        <li><%= link_to '企業登録', new_company_path %></li>
        <li><%= link_to "ユーザーログイン", new_user_session_path %></li>
        <li><%= link_to "従業員登録", new_user_registration_path %></li>
      <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
